.input-with-button {
  position: relative;
}

.input-with-button input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.input-with-button button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 10px;
  font-size: 16px;
}
